@import components/bootstrap.min
@import components/fonts
@import components/mixins

*
   margin: 0

html
   font-size: 8px
   +media(768)
      font-size: 9px
   +media(1280)
      font-size: 10px
   scroll-behavior: smooth

body
   font-family: "Rubik", "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
   text-align: center
   background-color: #f5f8fa
   scroll-behavior: smooth

ul
   list-style-type: none
   padding: 0

p 
   font-size: 1.6rem
   line-height: 1.5em

.container
   // max-width: 1170px
   max-width: 117rem

.bg-header 
   background: url(../img/bg-header-2.jpg) no-repeat center/cover 

p.in-logo
   color: #fff
   font: 500 3.6rem "Exo 2"

.logo:hover
   img 
      filter: contrast(110%)
   .in-logo
      color: #ffb700

header 
   color: #fff
   h1 
      font-size: 6rem
      +media(768)
         font-size: 7.2rem
   p 
      max-width: 60rem
      // font-size: 1.6rem
      // line-height: 1.5em
   h3 
      max-width: 32rem

.header-menu 
   a 
      font-size: 1.4rem
      color: #fff
      &:hover 
         color: #ffb700

.header-menu
   position: relative
   ul.menu
      display: none
      +media(992)
         display: flex
   ul.active-burger 
      display: block
      position: absolute
      right: 0
      // left: -4.5rem
      a 
         display: block
         padding: 1rem 1.5rem
         border: 1px solid #fff
         border-radius: 3px
         background-color: #ffb700
         &:hover 
            background-color: #09f
      // animation: fadeIn 1s ease

.hamburger
   display: inline-block
   +media(992)
      display: none
   position: relative
   vertical-align: middle
   // margin: 10px 20px
   // +media(380)
   //    margin: 0 10px
   // padding: 5px
   width: 40px
   height: 30px
   cursor: pointer
   span,
   span:before,
   span:after
      content: ""
      position: absolute
      width: 40px
      height: 3px
      top: calc(50% - 2px)
      // left: 5px
      left: 0
      background-color: #fff
      border-radius: 2px
   span:before
      top: -10px
      left: 0
   span:after
      top: 10px
      left: 0
   &:hover span,
   &:hover span:before,
   &:hover span:after
      cursor: pointer
      background-color: #ffb700

.cta 
   +ctaStyle

.frame-header-wraper
   // position: relative
   .frameBottom
      // position: absolute
      // top: 22rem
      // left: calc(50% - 23.5rem - 2px)
      height: 9rem
      border-top: none

.frame-header 
   width: 30rem
   +media(500)
      width: 47rem
   height: 4rem
   border: 4px solid rgba(255, 255, 255, .25)

.frameTop
   border-bottom: none

.c_h3 
   color: #333
   font-size: 3rem
   +media(768)
      font-size: 3.6rem
   line-height: 1.22em

p.c333 
   color: #333
   // font-size: 1.6rem
   // line-height: 1.5em

p.c555 
   color: #555
   // font-size: 1.6rem
   line-height: 1.375em

p.cbbb, 
p.c999,
.c_fefefe
   color: #bbb
   font-size: 1.3rem
   line-height: 1.46em

p.c999 
   color: #999

p.c_fefefe 
   color: #fefefe

.arrows  
   display: block
   position: relative
   width: 1rem
   height: 1rem
   border-left: 3px solid #000
   border-bottom: 3px solid #000
   transform: rotate(-45deg)
.arrows-1:hover,
.arrows-1:hover
   .arrows-2
      transform: rotate(-45deg) scale(1.5)
      border-color: #fff
   // &:hover, 
   // &:hover 
   //    .arrows-2 
   //       transform: rotate(-45deg) scale(1.2)
   //       border-color: #fff

// .arrows  
//    // display: inline-block
//    a 
//       display: block
//       position: relative
//       width: 1rem
//       height: 1rem
//       border-left: 3px solid #000
//       border-bottom: 3px solid #000
//       transform: rotate(-45deg)
//    // .arrow-1:hover, 
//    .arrow-1:hover 
//       .arrow-2 
//          transform: rotate(-45deg) scale(1.2)
//          border-color: #fff

.arrows-2
   // bottom: .5rem
   bottom: 3px

figure:hover 
   img
      filter: contrast(125%)

.cardTop 
   +cardStyle

.triangle
   +triangle

.vstrip
   +vstrip

h4.price 
   color: #0099ff
   font-size: 2.4rem
   line-height: 1.83em

.card-half
   padding: 3rem 6rem
   background-color: #edf2f5

picture.pic 
   img
      width: 100%

a.aTop, 
a.aMiddle 
   display: inline-block
   color: #0099ff
   font-size: 1.2rem
   text-transform: uppercase
   text-decoration: none
   &:hover, 
   &:hover:before, 
   &:hover:after 
      transform: scale(1.1)
      color: #0080d6
   &:hover:after 
      transform: rotate(-45deg)
   position: relative
   &:before
      position: absolute
      content: ""
      top: .3rem
      // top: 3px
      right: -1.6rem
      width: 1.1rem
      height: 1.1rem
      border: 1px solid #0099ff
      border-radius: 0.5rem
   &:after
      position: absolute
      content: ""
      top: 0.65rem
      // top: 7px
      right: -1.2rem
      width: 0.4rem
      height: 0.4rem
      border-right: 1px solid #0099ff
      border-bottom: 1px solid #0099ff
      transform: rotate(-45deg)

a.aMiddle
   margin-right: 2.5rem
   color: #ffb700
   font-size: 1.3rem
   &:before, 
   &:after 
      border-color: #ffb700
   &:hover, 
   &:hover:before, 
   &:hover:after 
      color: #cc8800

.bg-main 
   background: url(../img/bg-main-2a.jpg) no-repeat center/cover
   color: #fff
   .c_h2 
      color: #fff
      font-size: 4.7rem
      +media(768)
         font-size: 5.6rem
      line-height: 1.18em
   h2.c0099ff 
      color: #0099ff
   p.description 
      width: 100%
      +media(992)
         max-width: 45rem
      font-family: "PT Sans"
   p.comment 
      // margin-top: 1rem
      // margin-bottom: 0
      max-width: 50rem
      line-height: 1.56em
   p.client-name
      font-weight: bold
      font-size: 1.8rem
      line-height: 1.44em
   p.client 
      font-size: 1.4rem
      line-height: 1.36em

.frame-wraper
   position: relative
   .frame
      position: absolute
      top: 1rem
      width: 20rem
      height: 23rem
      border: 4px solid rgba(255, 255, 255, .1)
   .frameLeft
      border-right: none
   .frameRight
      right: 1rem
      border-left: none

h3.special 
   line-height: 1.17em

.cardMiddle 
   // +cardStyle($middle:true)
   +cardMiddleStyle

.cardBottom 
   color: #fff
   .card-img-overlay
      padding: 3rem 2rem

.paper
   width: 3.4rem
   height: 4.2rem
   background: url(../img/paper.png) no-repeat center/contain
   
.ctaBottom 
   +ctaStyle($ctaBottom:true)
   position: relative
   span.cloud
      position: absolute
      display: inline-block
      top: .7rem
      left: 1.5rem
      width: 15px
      height: 11px
      background: url(../img/cloud.png) no-repeat center/contain

.info 
   h2 
      line-height: 1.11em
      letter-spacing: 1px
   .question 
      margin-top: -1rem
      margin-bottom: 2rem
      font-size: 1.8rem
      line-height: 1.44em
      letter-spacing: 1px
   p.c999 
      max-width: 30rem
      +media (768)
         max-width: 16rem
      line-height: 1.23em
   a.tel 
      cursor: pointer
      color: #0099ff
      font-size: 1.8rem
      line-height: 1.44em
      text-transform: uppercase
      text-decoration: none
      display: inline-block
      position: relative
      &:before 
         position: absolute
         content: ""
         top: .4rem
         left: -2rem
         width: 1.6rem
         height: 1.7rem
         background: url(../img/phone.png) no-repeat center/contain
      &:hover
         color: #0088ff
   // .name 
   //    margin: 1rem 0 0 0
   .consultant 
      font-family: "PT Sans"
      line-height: 1.46em
   
.frame.frame-footer
   top: 0
   width: 4.5rem
   height: 26.5rem
   border-color: #ffb700

   
.bg-footer 
   padding-top: 370px
   background: url(../img/bg-footer-2.jpg) no-repeat center/cover

.copyright 
   padding: 1.5rem
   color: #fff
   font-size: 1.3rem
   line-height: 1.46em