@import components/bootstrap.min
@import components/mixins

*
   margin: 0

html
   font-size: 7px
   +media(768)
      font-size: 8.5px
   +media(1280)
      font-size: 10px
   scroll-behavior: smooth

body
   font-family: "Exo2.0", "Rubik", "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
   text-align: center
   scroll-behavior: smooth

ul
   list-style-type: none
   padding: 0

.container
   max-width: 1170px

.bg-header 
   background: url(../img/bg-header-2.jpg) no-repeat center/cover 

.cta 
   +ctaStyle

.in-logo, 
.arrows  
   display: inline-block

.arrows
   width: 20px
   height: 20px

.bg-main 
   background: url(../img/bg-main-2a.jpg) no-repeat center/cover

// .island>, 
// .figure>
picture.pic 
   img
      width: 100%
   
.bg-footer 
   // min-height: 370px
   padding-top: 370px
   background: url(../img/bg-footer-2.jpg) no-repeat center/cover
