@import components/bootstrap.min
@import components/fonts
@import components/mixins

*
   margin: 0

html
   font-size: 8px
   +media(768)
      font-size: 9px
   +media(1280)
      font-size: 10px
   scroll-behavior: smooth

body
   font-family: "Rubik", "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
   text-align: center
   background-color: #f5f8fa
   scroll-behavior: smooth

ul
   list-style-type: none
   padding: 0

.container
   max-width: 1170px

.bg-header 
   background: url(../img/bg-header-2.jpg) no-repeat center/cover 

.cta 
   +ctaStyle

.cardTop 
   +cardStyle
   
.ctaBottom 
   +ctaStyle($figureBottom:true)

.in-logo
   color: #fff
   font: 500 3.6rem "Exo 2"

.logo:hover
   img 
      filter: contrast(110%)
   .in-logo
      color: #ffb700

.header-menu
   a 
      color: #fff
      &:hover 
         color: #ffb700

.arrows  
   width: 20px
   height: 20px

.bg-main 
   background: url(../img/bg-main-2a.jpg) no-repeat center/cover

picture.pic 
   img
      width: 100%

.ctaBottom 
   position: relative
   span.cloud
      position: absolute
      display: inline-block
      top: .7rem
      left: 1.5rem
      width: 15px
      height: 11px
      background: url(../img/cloud.png) no-repeat center

.bg-footer 
   padding-top: 370px
   background: url(../img/bg-footer-2.jpg) no-repeat center/cover
