- 
   var navMenu = [
      {
         name: "ГОловна", 
         url: "#1"
      },
      {
         name: "послуги", 
         url: "#2"
      },
      {
         name: "про компанію", 
         url: "#3"
         },
      {
         name: "Акції", 
         url: "#4"
      },
      {
         name: "Партнери", 
         url: "#5"
      },
      {
         name: "відгуки", 
         url: "#6"
      },
      {
         name: "Контакти", 
         url: "#7"
      },
   ] 

- 
   var cardTop = { 
      Bycicle: {
         src: "img/trip-1",
         alt: "trip-1",
         title: "Тур на велосипедах",
         price: "335",
         description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
      }, 
      Island: {
         src: "img/trip-2",
         alt: "trip-2",
         title: "Екскурсія на острів",
         price: "500",
         description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
      }, 
      Special: {
         src: "img/trip-3",
         alt: "trip-3",
         title: "Особливе замовлення",
         price: "250",
         description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
      },
   }

- 
   var cardBottom = { 
      Romantic: {
         src: "img/tripB-1",
         alt: "tripB-1",
         title: "Романтична подорож на 2",
         description: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
         price: "2599",
      }, 
      Bycicle: {
         src: "img/tripB-2",
         alt: "tripB-2",
         title: "Велотур",
         description: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
         price: "555",
      }, 
      Islands: {
         src: "img/tripB-3",
         alt: "tripB-3",
         title: "На острови!",
         description: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
         price: "1559",
      },
      Surfing: {
         src: "img/tripB-4",
         alt: "tripB-4",
         title: "Катання на сьорфінгу",
         description: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
         price: "999",
      },
   } 

- 
   var cardFooter = { 
      Schedule: {
         title: "Романтична подорож на 2",
         size: "10Mb",
         description: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
      }, 
      Info: {
         title: "Велотур",
         size: "555",
         description: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
      }, 
   } 