- 
   var navMenu = [
      {
         name: "ГОловна", 
         url: "#header"
      },
      {
         name: "послуги", 
         url: "#services"
      },
      {
         name: "про компанію", 
         url: "#main"
         },
      {
         name: "Акції", 
         url: "#special"
      },
      {
         name: "Партнери", 
         url: "#"
      },
      {
         name: "відгуки", 
         url: "#comment"
      },
      {
         name: "Контакти", 
         url: "#contacts"
      },
   ] 

- 
   var cardTop = { 
      Bycicle: {
         class: "",
         src: "img/trip-1",
         alt: "Тур на велосипедах",
         title: "Тур на велосипедах",
         price: "335",
         description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
      }, 
      Island: {
         class: "triangle",
         src: "img/trip-2",
         alt: "Екскурсія на острів",
         title: "Екскурсія на острів",
         price: "500",
         description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
      }, 
      Special: {
         class: "triangle",
         src: "img/trip-3",
         alt: "Особливе замовлення",
         title: "Особливе замовлення",
         price: "250",
         description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
      },
   }

- 
   var cardMiddle = { 
      Romantic: {
         class: "triangle",
         imgClass: "",
         src: "img/tripM-1",
         alt: "Романтична подорож на 2",
         title: "Романтична подорож на 2",
         description: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
         price: "2599",
      }, 
      Bycicle: {
         class: "triangle",
         imgClass: "vstrip",
         src: "img/tripM-2",
         alt: "Велотур",
         title: "Велотур",
         description: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
         price: "555",
      }, 
      Islands: {
         class: "triangle",
         imgClass: "",
         src: "img/tripM-3",
         alt: "На острови!",
         title: "На острови!",
         description: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
         price: "1559",
      },
      Surfing: {
         class: "triangle",
         imgClass: "",
         src: "img/tripM-4",
         alt: "Катання на сьорфінгу",
         title: "Катання на сьорфінгу",
         description: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
         price: "999",
      },
   } 

- 
   var cardBottom = { 
      Schedule: {
         figureBG: "schedule",
         title: "Графік роботи готелів.xls",
         size: "10Mb",
         description: "Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.",
      }, 
      Info: {
         figureBG: "food",
         title: "Інформація про харчування.xls",
         size: "10Mb",
         description: "У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.",
      }, 
   } 