- 
   var card = { 
      Bycicle: {
         title: "Тур на велосипедах",
         src: "img/trip-1",
         alt: "trip-1",
         price: "335",
         description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
      }, 
      Island: {
         title: "Екскурсія на острів",
         src: "img/trip-2",
         alt: "trip-2",
         price: "500",
         description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
      }, 
      Special: {
         title: "Особливе замовлення",
         src: "img/trip-3",
         alt: "trip-3",
         price: "250",
         description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
      },
   } 