include components/vars 
include components/mixins 

doctype html
html(lang="uk")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0")
      link(rel="stylesheet" href="css/styles.css")
      title Sea Trips
   body.bg-light 
      header 
         .container-fluid.bg-header 
            .container.mx-auto 
               .d-flex.justify-content-between 
                  .logo 
                     a(href="index.html") 
                        picture 
                           img(src="img/logo.png", alt="logo")
                        p.in-logo trips
                  .header-menu 
                     +menu(navMenu)
               h1 Морські пригоди 
               p Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
               a.btn.rounded-pill.btn-warning.cta(href="#") детальніше
               h2 обери свій план подорожі
               p Наша фірма -лідер на ринку у своїй сфері
               a.arrows(href="#main") >>
      main#main 
         .container.mx-auto 
            .row 
               .col-3 
                  h2 про нашу компанію
                  p Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                  a.btn.rounded-pill.btn-warning.cta(href="#") детальніше
                  p * - зверніть увагу, зміна ціни може залежати від курсу долара.
               .col-9
                  .row
                     .col-4 
                        +figureTop(cardTop.Bycicle)
                     .col-4 
                        +figureTop(cardTop.Island)
                     .col-4 
                        +figureTop(cardTop.Special)
                  a.btn.rounded-pill.btn-outline-primary.cta.ctaBig(href="#") дивитись усі плани
                        .arrow
            hr 
            .row 
               .col-5 
                  .island 
                     picture.pic 
                        source(srcset="img/island.webp", type="webp")
                        source(srcset="img/island.jpg", type="jpg")
                        img(src="img/island.jpg", alt="island")
               .col-7 
                  h2 Дивовижний безлюдний острів, який зводить людей з розуму
                  .row
                     .col-8
                        p Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                        a.btn.rounded-pill.btn-warning.cta(href="#") замовити тур
                        a.btn.rounded-pill.btn-warning.cta(href="#") детальніше
                     .col-4
                        h3 575 грн./день
                        p В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
         .container-fluid.bg-main
            .container.mx-auto 
               .row 
                  .col-6
                     h2 СПІЙМАЙ ХВИЛЮ 
                     h2 ЖИВИ ЯСКРАВО!
                     p Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                     a.btn.rounded-pill.btn-warning.cta(href="#") детальніше
                  .col-6 
                     picture 
                        img(src="img/''.png", alt="''")
                     p Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи.
                     p 
                        b Олег Набережний
                     p клієнт
                     picture                         
                        source(srcset="img/client.webp", type="webp")
                        source(srcset="img/client.png", type="png")
                        img(src="img/client.png", alt="client")
         .container.mx-auto 
            h2 Спеціальні пропозиції тижня 
            p 
               i Гарячі праозиції, по-швидше обирай і поїхали!
            .row 
               .col-3 
                  +figureMiddle(cardMiddle.Romantic)
               .col-3 
                  +figureMiddle(cardMiddle.Bycicle)
               .col-3 
                  +figureMiddle(cardMiddle.Islands)
               .col-3 
                  +figureMiddle(cardMiddle.Surfing)
            hr 
         .container.mx-auto 
            .row 
               .col-3 
                  h2 додаткова інформація
               .col-3 
                  +figureBottom(cardBottom.Schedule)
               .col-3 
                  +figureBottom(cardBottom.Info)
               .col-3 
                  h3 задати питання
                  p Скажіть доброго дня нашому консультанту, і ми з радістю відповімо на Ваші запитання
                  a(href="tel:+380505698511") +38 (050) 56 98 511
                  p 
                     b Анна Миколаївна
                  p консультант
                  picture                         
                     source(srcset="img/consult.webp", type="webp")
                     source(srcset="img/consult.png", type="png")
                     img(src="img/consult.png", alt="consult")
      footer 
         .container-fluid.bg-footer 
         .container-fluid.bg-dark 
            p.container.m-0.copyright.text-white &copy; 2016 Cars.com All rights reserved.

      <script src="js/scripts.js"></script>