include components/vars 
include components/mixins 

doctype html
html(lang="uk")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0")
      link(rel="stylesheet" href="css/styles.css")
      title Sea Trips
   body 
      header.header 
         .container-fluid.bg-header 
            .wrapper.container.mx-auto 
               .d-flex.align-items-center.justify-content-between 
                  .logo 
                     a.d-inline-block(href="index.html") 
                        picture.align-middle 
                           img.align-top(src="img/logo.png", alt="logo")
                        p.mx-2.in-logo.d-inline-block trips
                  nav.header-menu 
                     +menu(navMenu)
               .frame-header.frameTop.mx-auto
               h1.text-uppercase Морські пригоди 
               p.happy.mx-auto.fst-italic Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
               .frame-header.frameBottom.mx-auto
                  a.btn.rounded-pill.cta(href="#") детальніше
               h3.c-h3.mx-auto.text-uppercase обери свій план подорожі
               p.mx-auto.c-333.fst-italic Наша фірма - лідер на ринку у своїй сфері
               a.aArrows(href="#main")
                  span.mx-auto.arrows.arrow-1 
                  span.mx-auto.arrows.arrow-2
      main#main 
         .wrapper.container.mx-auto 
            .about
               .row.flex
                  .column.col-12.col-md-6.col-lg-3.text-start 
                     h3.c-h3.text-uppercase про нашу компанію
                     p.c-555.fst-italic Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                     a.btn.rounded-pill.my-4.cta(href="#") детальніше
                     p.c-bbb * - зверніть увагу, зміна ціни може залежати від курсу долара.
                  .column.col-12.col-md-6.col-lg-3 
                     +figureTop(cardTop.Bycicle)
                  .column.col-12.col-md-6.col-lg-3 
                     +figureTop(cardTop.Island)
                  .column.col-12.col-md-6.col-lg-3 
                     +figureTop(cardTop.Special)
               .div-aTop
                  a.offset-lg-3.aTop(href="#") дивитись усі плани
            hr 
            .island.row.flex 
               .column.col-12.col-lg-4 
                  .island-pic 
                     picture.pic 
                        source(srcset="img/island.webp", type="webp")
                        source(srcset="img/island.jpg", type="jpg")
                        img(src="img/island.jpg", alt="island")
               .column.col-12.col-lg-8.text-start 
                  h3.c-h3.text-uppercase Дивовижний безлюдний острів, який зводить людей з розуму
                  .row.flex
                     .col-12.col-lg-7
                        p.c-333 Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                        a.btn.rounded-pill.me-3.cta(href="#") замовити тур
                        a.btn.rounded-pill.cta(href="#") детальніше
                     .col-12.col-lg-5
                        .card-half.text-center
                           h4.price 575 грн./день
                           p.c-999 В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
         .container-fluid.bg-main
            .wrapper.container.surfing.mx-auto 
               .row.flex 
                  .column.col-12.col-lg-6.text-start
                     h2.c-h2.text-uppercase СПІЙМАЙ ХВИЛЮ 
                     h2.c-h2.c0099ff.text-uppercase ЖИВИ ЯСКРАВО!
                     p.description Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                     a.btn.rounded-pill.cta(href="#") детальніше
                  .column.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-0.frameClient 
                     picture 
                        img(src="img/''.png", alt="''")
                     p.comment.my-2.mx-auto.text-start.fst-italic Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи.
                     p.client-name.m-0 Олег Набережний
                     p.client.c-999.m-0 клієнт
                     picture                         
                        source(srcset="img/client.webp", type="webp")
                        source(srcset="img/client.png", type="png")
                        img(src="img/client.png", alt="client")
         .wrapper.container.mx-auto 
            .special
               h3.c-h3.h-special.text-uppercase Спеціальні пропозиції тижня 
               p.choose.c-333.fst-italic Гарячі пропозиції, по-швидше обирай і поїхали!
               .row.flex 
                  .column.col-12.col-md-6.col-lg-3 
                     +figureMiddle(cardMiddle.Romantic)
                  .column.col-12.col-md-6.col-lg-3 
                     +figureMiddle(cardMiddle.Bycicle)
                  .column.col-12.col-md-6.col-lg-3 
                     +figureMiddle(cardMiddle.Islands)
                  .column.col-12.col-md-6.col-lg-3 
                     +figureMiddle(cardMiddle.Surfing)
            hr 
         .wrapper.container.info.mx-auto 
            .row.flex 
               .column.col-12.col-lg-3 
                  h3.c-h3.text-uppercase додаткова інформація
               .col-12.col-lg-6
                  .row.flex
                     .column.col-12.col-sm-6 
                        +figureBottom(cardBottom.Schedule)
                     .column.col-12.col-sm-6 
                        +figureBottom(cardBottom.Info)
               .column.col-12.col-sm-6.offset-sm-3.col-lg-3.offset-lg-0.frameConsultant 
                  p.c-333.question задати питання
                  p.c-999.my-4.mx-auto Скажіть доброго дня нашому консультанту, і ми з радістю відповімо на Ваші запитання
                  a.tel.my-4.c0099ff(href="tel:+380505698511") +38 (050) 56 98 511
                  p.name.m-0.c-333 Анна Миколаївна
                  p.c-999.mx-auto.consultant консультант
                  picture 
                     source(srcset="img/consult.webp", type="webp")
                     source(srcset="img/consult.png", type="png")
                     img(src="img/consult.png", alt="consult") 
      footer 
         .container-fluid.bg-footer 
         .container-fluid.bg-dark 
            p.wrapper.container.m-0.mx-auto.copyright &copy; 2016 Cars.com All rights reserved.

      script(src="js/scripts.js")