include components/vars 
include components/mixins 

doctype html
html(lang="uk")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0")
      link(rel="stylesheet" href="css/styles.css")
      title Sea Trips
   body 
      header.header 
         .container-fluid.bg-header 
            .container.mx-auto 
               .d-flex.align-items-center.justify-content-between 
                  .logo 
                     a.d-inline-block(href="index.html") 
                        picture.align-middle 
                           img.align-top(src="img/logo.png", alt="logo")
                        p.mx-2.in-logo.d-inline-block trips
                  .header-menu 
                     +menu(navMenu)
               .frame.frameTop.mx-auto
               h1.text-uppercase Морські пригоди 
               p.mx-auto.fst-italic Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
               a.btn.rounded-pill.cta(href="#") детальніше
               .frame.frameBottom.mx-auto
               h2.c_h2.mx-auto.text-uppercase обери свій план подорожі
               p.mx-auto.c333.fst-italic Наша фірма - лідер на ринку у своїй сфері
               a.d-inline-block.arrows(href="#main") >>
      main#main 
         .container.mx-auto 
            .row 
               .col-3.text-start 
                  h2.c_h2.text-uppercase про нашу компанію
                  p.c555.fst-italic Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                  a.btn.rounded-pill.cta(href="#") детальніше
                  p.cbbb * - зверніть увагу, зміна ціни може залежати від курсу долара.
               .col-9
                  .row
                     .col-4 
                        +figureTop(cardTop.Bycicle)
                     .col-4 
                        +figureTop(cardTop.Island)
                     .col-4 
                        +figureTop(cardTop.Special)
                  a.aBlue(href="#") дивитись усі плани
                        .arrow
            hr 
            .row 
               .col-4 
                  .island 
                     picture.pic 
                        source(srcset="img/island.webp", type="webp")
                        source(srcset="img/island.jpg", type="jpg")
                        img(src="img/island.jpg", alt="island")
               .col-8.text-start 
                  h2.c_h2.text-uppercase Дивовижний безлюдний острів, який зводить людей з розуму
                  .row
                     .col-7
                        p.c333 Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                        a.btn.rounded-pill.cta(href="#") замовити тур
                        a.btn.rounded-pill.cta(href="#") детальніше
                     .col-5.card-half.text-center
                        h3.price 575 грн./день
                        p.c999 В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
         .container-fluid.bg-main
            .container.mx-auto 
               .row 
                  .col-6.text-start
                     h2.c_h2.text-uppercase СПІЙМАЙ ХВИЛЮ 
                     h2.c_h2.c0099ff.text-uppercase ЖИВИ ЯСКРАВО!
                     p.description Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                     a.btn.rounded-pill.cta(href="#") детальніше
                  .col-6 
                     picture 
                        img(src="img/''.png", alt="''")
                     p.comment.mx-auto.text-start.fst-italic Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи.
                     p 
                        b Олег Набережний
                     p.client.c999 клієнт
                     picture                         
                        source(srcset="img/client.webp", type="webp")
                        source(srcset="img/client.png", type="png")
                        img(src="img/client.png", alt="client")
         .container.mx-auto 
            h2.c_h2.special.text-uppercase Спеціальні пропозиції тижня 
            p.c333.fst-italic Гарячі праозиції, по-швидше обирай і поїхали!
            .row 
               .col-sm-3 
                  +figureMiddle(cardMiddle.Romantic)
               .col-sm-3 
                  +figureMiddle(cardMiddle.Bycicle)
               .col-sm-3 
                  +figureMiddle(cardMiddle.Islands)
               .col-sm-3 
                  +figureMiddle(cardMiddle.Surfing)
            hr 
         .container.info.mx-auto 
            .row 
               .col-sm-3 
                  h2.c_h2.text-uppercase додаткова інформація
               .col-sm-3 
                  +figureBottom(cardBottom.Schedule)
               .col-sm-3 
                  +figureBottom(cardBottom.Info)
               .col-sm-3 
                  p.c333.question задати питання
                  p.c999.mx-auto Скажіть доброго дня нашому консультанту, і ми з радістю відповімо на Ваші запитання
                  a.c0099ff(href="tel:+380505698511") +38 (050) 56 98 511
                  p.name.c333 Анна Миколаївна
                  p.c999.mx-auto.consultant консультант
                  picture                         
                     source(srcset="img/consult.webp", type="webp")
                     source(srcset="img/consult.png", type="png")
                     img(src="img/consult.png", alt="consult")
      footer 
         .container-fluid.bg-footer 
         .container-fluid.bg-dark 
            p.container.m-0.mx-auto.copyright &copy; 2016 Cars.com All rights reserved.

      <script src="js/scripts.js"></script>