=media ($size)
   @media screen and (min-width: #{$size}px)
      @content

=ctaStyle ($ctaBottom:false)
   display: inline-block
   padding: 0.9rem 2.5rem
   min-width: 18rem
   color: #fefefe
   font-size: 1.6rem
   letter-spacing: 1px
   text-transform: uppercase
   text-decoration: none
   border: 2px solid transparent
   background-color: #ffb700
   box-shadow: 0px 4px 10.5px rgba(193,139,1,0.24)
   &:hover 
      color: #0099ff
      border-color: #0099ff
      background-color: #fefefe
   @if $ctaBottom
      padding: 0.5rem 1.8rem 0.5rem 3.4rem
      min-width: 11rem
      font-size: 1.2rem
      color: #ffb700
      border: 2px solid #ffb700
      background-color: transparent
      &:hover
         transform: scale(1.15)
         color: #ffb700
         border-color: #ffb700
         background-color: #fff

=cardStyle($top:false, $middle:false)
   border: none
   border-radius: 0
   background-color: transparent
   p.title 
      display: flex
      align-items: center
      justify-content: center
      margin: 0
      min-height: 5.2rem
      font-size: 1.8rem
      line-height: 1.44em
   p.description 
      margin: 0
      min-height: 7.6rem
      color: #999
   h4.price
      margin: 0 0 1rem
   &:hover 
      background-color: #fff
      box-shadow: 0px 4px 10.5px rgba(3,20,31,0.05)
   @if $top
      margin-bottom: 1rem
      padding: 3rem
      min-height: 27rem
      h4.price
         line-height: 1em
      picture 
         display: inline-flex
         align-items: center
         justify-content: center
         height: 53px
         margin-bottom: 1rem
   @if $middle 
      min-height: 35rem
      .cardMiddleBody
         padding: 1rem 2rem

=vstrip
   position: relative
   &:before
      content: ""
      position: absolute
      width: 6rem
      height: 100%
      background: #0099ff url(../img/vstrip.png) no-repeat center/contain
      z-index: 1

=triangle 
   position: relative
   &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 6rem
      height: 6rem
      background: url(../img/triangle.png) no-repeat center/contain
      z-index: 2

=frame($client:false, $consultant:false)
   position: relative
   &:before,
   &:after
      position: absolute
      content: ""
      border: 4px solid rgba(255, 255, 255, .1)
   &:before
      left: 1.5rem
      border-right: none
   &:after
      right: 1.5rem
      border-left: none
   @if $client
      &:before,
      &:after
         top: 1rem
         width: 14rem
         +media(426)
            width: 20rem
         height: 23rem
      &:before
         +media(576)
            left: 0
      &:after
         +media(576)
            right: 0
   @if $consultant
      &:before,
      &:after
         top: 0
         width: 8rem
         height: 26.5rem
         +media(769)
            width: 4rem
         border-color: #ffb700
