$colorLight: #ffb700
$colorDark: #09f
$colorGray: #333
$backgroundLight: #fefefe
$backgroundGray: #999

=media ($size)
   @media screen and (min-width: #{$size}px)
      @content

=ctaStyle ($ctaBottom:false)
   display: inline-block
   padding: 0.9rem
   min-width: 18rem
   color: $backgroundLight
   font-size: 1.6rem
   letter-spacing: 1px
   text-transform: uppercase
   border: 2px solid transparent
   background-color: $colorLight
   box-shadow: 0px 4px 10.5px rgba(193,139,1,0.24)
   transition: .3s linear !important
   &:hover 
      color: $colorDark
      border-color: $colorDark
      background-color: $backgroundLight
   @if $ctaBottom
      padding: 0.5rem 1.8rem 0.5rem 3.4rem
      min-width: 11rem
      font-size: 1.2rem
      color: $colorLight
      border: 2px solid $colorLight
      background-color: transparent
      &:hover
         transform: scale(1.15)
         color: $colorLight
         border-color: $colorLight
         background-color: #fff

=cardStyle($top:false, $middle:false)
   border: none
   border-radius: 0
   background-color: transparent
   &:hover 
      img
         filter: contrast(125%)
   h3.title 
      display: flex
      align-items: center
      justify-content: center
      margin: 0
      min-height: 5.2rem
      font-size: 1.8rem
      line-height: 1.44em
   p.description 
      margin: 0
      min-height: 7.6rem
      color: $backgroundGray
   strong.price
      margin: 0 0 1rem
   &:hover 
      background-color: #fff
      box-shadow: 0px 4px 10.5px rgba(3,20,31,0.05)
   @if $top
      padding: 3rem
      min-height: 30rem
      transition: .4s
      strong.price
         line-height: 1em
      picture 
         display: inline-flex
         align-items: center
         justify-content: center
         height: 53px
         margin-bottom: 1rem
   @if $middle 
      min-height: 35rem
      transition: .5s
      .cardMiddleBody
         padding: 1rem 2rem

=vstrip
   position: relative
   &::before
      content: ""
      position: absolute
      width: 6rem
      height: 100%
      background: $colorDark url(../img/vstrip.png) no-repeat center/contain
      z-index: 1

=promo 
   position: relative
   &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 6rem
      height: 6rem
      background: url(../img/triangle.png) no-repeat center/contain
      z-index: 2

=frame($client:false, $consultant:false)
   position: relative
   &::before,
   &::after
      position: absolute
      content: ""
      border: 4px solid rgba(255, 255, 255, .1)
   &::before
      left: 1.5rem
      border-right: none
   &::after
      right: 1.5rem
      border-left: none
   @if $client
      &::before,
      &::after
         top: 1.5rem
         width: 13rem
         +media(426)
            width: 20rem
         height: 27.5rem
         +media(768)
            height: 25.5rem
         +media(1024)
            height: 23.5rem
      &::before
         +media(576)
            left: 0
      &::after
         +media(576)
            right: 0
   @if $consultant
      &::before,
      &::after
         top: 0
         height: 26.5rem
         width: 7rem
         +media(769)
            width: 3.5rem
         +media(1280)
            width: 4.5rem
         border-color: $colorLight
